


.marquee-container {
 
  width: 90%;
  margin: 0 auto;
  padding: 0.2em 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  
  display: flex;
  align-items: center;
  height: 10vh;
}
.marquee span {
  font-family: "Formula Condensed";
  text-transform: uppercase;
  font-weight: 400;
  color: #b3b0aa;
  font-size: 4em;
  text-transform: uppercase;
 
  
}
@media (max-width: 1024px) {
  .marquee span {
    font-size: 2rem;
  }
}

/* 👇 Media query per schermi piccoli (mobile) */
@media (max-width: 640px) {
  .marquee span {
    font-size: 1.5rem;
  }
}

@media (max-width: 639px) {
  .robot-img {
    width: 75%;
  }
}

/* Medium screen (md: ≥640px) */
@media (min-width: 640px) and (max-width: 1150px) {
  .robot-img {
    width: 70%;
  }
}